{
    "gateway_conf": {
        "gateway_ID": "${GATEWAY_ID}",
        "server_address": "${SERVER_ADDRESS}",
        "serv_port_up": ${SERVER_PORT_UP},
        "serv_port_down": ${SERVER_PORT_DOWN}
    }
}
